@import "../../../../../styles/global.module";

.Item {
  box-sizing: border-box;
  width: 100%;

  a {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-decoration: none;
    color: map-get($colors, blackMain);
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      color: map-get($colors, pinkMain);
    }

    &:active,
    &.active {
      background-color: map-get($colors, pinkLight);
      color: map-get($colors, pinkMain);
      font-weight: 500;
      .hoverFlag {
        background-color: map-get($colors, pinkMain);
      }
    }
  }
}

.Item_text {
  padding-left: 22px;
}

.level {
  padding-left: 38px;
}

.hoverFlag {
  height: 40px;
  width: 3px;
}

@media (min-width: 720px) {
}
