$colors: (
  pinkMain: #ed1e79,
  pinkLight: #fff5fa,
  pinkDark: #b61a5d,
  blueMain: #22bdf4,
  blueLight: #effbff,
  blackMain: #666666,
  blackDark: #363636,
  blackLight: #9e9e9e,
  grayC: #d1d1d1,
  grayCLight: #f4f4f4
);
