$colors: (
  greenlight: #f6f8f6,
  mainGreen: #62bc50,
  greenDark: #3d7d2f,
  blackMain: #666666,
  blackDarker: #363636,
  blackLighter: #9e9e9e,
  grayC: #d1d1d1,
  grayCLighter: #f4f4f4,
  mainRed: #ff0000,
  redDark: #c50000
);
